<section class="w-75 m-auto pt-3" id="results">
    <div class="own"></div>
    <table id="resultsTable" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Jméno pacienta</th>
            <th scope="col">Výsledky z NS</th>
            <th scope="col">Výsledky z ES</th>
            <th scope="col">Datum vzniku</th>
            <th scope="col">Datum ukončeni predikce</th>
            <th scope="col">Akce</th>
        </tr>
        </thead>
        <tbody>
        {% if results.items %}
            {% for result,patientOfResult in results.items %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <th scope="row" id="id">{{ result.id }}</th>
                    <td>{{ patientOfResult.nameOfPatient }}</td>
                    <td>{{ result.emphysemaNN }}</td>
                    <td><pre>{{ result.emphysemaES }}</pre></td>
                    <td>{{ result.dateOfCreation }}</td>
                    <td>{{ result.dateOfEnd }}</td>
                    <td class="">
                        <a id="xRayModalGet" class="bi bi-info-square icons" type="button" data-val="{{ result.id }}" data-bs-toggle="modal" data-bs-target="#xRayModal"></a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <td colspan="8" class="w-100 text-muted text-center">Nebyly nalezeny žádné výsledky</td>
        {% endif %}

        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="xRayModal" tabindex="-1" aria-labelledby="xRayModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="xRayModal">RTG snímek odeslaný k predikci</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        {% include "result/x_ray.html" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
                </div>
            </div>
        </div>
    </div>


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if results.prev_num %}
                <li class="page-item">
                    <a class="page-link pagedResultsOnPacient"
                       href="{{ url_for('patientsBp.pagedResultsForPatient',page=results.prev_num) }}"
                       tabindex="-1">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link pagedResultsOnPacient"
                       href="{{ url_for('patientsBp.pagedResultsForPatient',page=results.prev_num) }}"
                       tabindex="-1">Previous</a>
                </li>
            {% endif %}

            {% for page_number in results.iter_pages() %}
                {% if page_number and results.pages != 1 %}
                    {% if results.page == page_number %}
                        <li class="page-item active">
                            <a class="page-link pagedResultsOnPacient"
                               href="{{ url_for('patientsBp.pagedResultsForPatient',page=page_number) }}">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link pagedResultsOnPacient"
                               href="{{ url_for('patientsBp.pagedResultsForPatient',page=page_number) }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if results.next_num %}
                <li class="page-item">
                    <a class="page-link pagedResultsOnPacient"
                       href="{{ url_for('patientsBp.pagedResultsForPatient',page=results.next_num) }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link pagedResultsOnPacient"
                       href="{{ url_for('patientsBp.pagedResultsForPatient',page=results.next_num) }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</section>