{% extends "layout.html" %}


{% block content %}
    <section class="w-75 m-auto pt-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Jméno pacienta</th>
                <th scope="col">Výsledky z NS</th>
                <th scope="col">Výsledky z ES</th>
                <th scope="col">Datum vzniku</th>
                <th scope="col">Datum ukončeni predikce</th>
                <th scope="col">Akce</th>
            </tr>
            </thead>
            <tbody>
            {% for result,patient in results.items %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <th scope="row" id="id">{{ result.id }}</th>
                    <td>{{ patient.nameOfPatient }}</td>
                    <td>{{ result.emphysemaNN }}</td>
                    <td>{{ result.emphysemaES }}</td>
                    <td>{{ result.dateOfCreation }}</td>
                    <td>{{ result.dateOfEnd }}</td>
                    <td class="">
                        <a href="patient/{{ result.patient_id }}"
                           class="bi bi-info-square icons"></a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </section>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if results.prev_num %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{ url_for('resultsBp.results',page=results.prev_num) }}"
                       tabindex="-1">Previous</a>
                </li>
            {% endif %}

            {% for page_number in results.iter_pages() %}
                {% if page_number and results.pages != 1 %}
                    {% if results.page == page_number %}
                        <li class="page-item">
                            <a class="page-link active"
                               href="{{ url_for('resultsBp.results',page=page_number) }}">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ url_for('resultsBp.results',page=page_number) }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if results.next_num %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('resultsBp.results',page=results.next_num) }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>


{% endblock %}