{% extends "layout.html" %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <section class="w-75 m-auto pt-3">
    <a class="btn btn-outline-info" type="submit" href="{{ url_for('patientsBp.registerNewPatient') }}">Registrace nového pacienta
        <i class="bi bi-person-plus-fill"></i></a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Jméno pacienta</th>
                <th scope="col">Výsleky</th>
                <th scope="col">Akce</th>
            </tr>
            </thead>
            <tbody>
            {% for patient in patients.items %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <th scope="row" id="id">{{ patient.id }}</th>
                    <td>{{ patient.nameOfPatient }}</td>
                    <td><a class="justify-content-center"
                           href="{{ url_for('patientsBp.patient',id=patient.id ~'-'~patient.nameOfPatient ) }}#resultsTable">Zobrazit</a></td>
                    <td class="">
                        <a href=" {{ url_for('patientsBp.patient',id=patient.id ~'-'~patient.nameOfPatient ) }}"
                           class="bi bi-info-square icons"></a>
                        <a href="{{ url_for('patientsBp.updatePatient',id=patient.id ~'-'~patient.nameOfPatient ) }}"
                           class="bi bi-pencil-square icons"></a>
                        <a href="{{ url_for('patientsBp.remove_patient',id=patient.id ~'-'~patient.nameOfPatient ) }}"
                           class="bi bi-trash icons"></a>

                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </section>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if patients.prev_num %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('patientsBp.patients',page=patients.prev_num) }}"
                       tabindex="-1">Previous</a>
                </li>
            {% endif %}

            {% for page_number in patients.iter_pages() %}
                {% if page_number and patients.pages != 1 %}
                    {% if patients.page == page_number %}
                        <li class="page-item active">
                            <a class="page-link"
                               href="{{ url_for('patientsBp.patients',page=page_number) }}">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ url_for('patientsBp.patients',page=page_number) }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if patients.next_num %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('patientsBp.patients',page=patients.next_num) }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
