{% extends "layout.html" %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="w-50 m-auto mt-5">

        <legend class="border-bottom mb-4">Pacient</legend>
        <div class="form-group">
            <label class="form-control-label" for="nameOfPatient">Jméno pacienta</label>

            <input class="form-control form-control-lg" id="nameOfPatient" name="nameOfPatient" disabled="" type="text"
                   value="{{ patient.nameOfPatient }}">

        </div>
        <div class="form-group">
            <label class="form-control-label" for="height">Výška</label>

            <input class="form-control form-control-lg" id="height" name="height" disabled="" step="1"
                   value="{{ patient.height }}">

        </div>
        <div class="form-group">
            <label class="form-control-label" for="weight">Váha</label>

            <input class="form-control form-control-lg" id="weight" name="weight" disabled="" step="1"
                   value="{{ patient.weight }}">

        </div>
        <div class="form-group">
            <label class="form-control-label" for="age">Věk</label>

            <input class="form-control form-control-lg" id="age" name="age" disabled="" step="1"
                   value="{{ patient.age }}">

        </div>
        <div class="form-group mt-3 mb-3">
            <label class="form-control-label" for="smoker">Kuřák</label>
            {% if patient.smoker %}
                <input class="form-check form-check-lg" id="smoker" name="smoker" type="checkbox" disabled=""
                       checked="{{ patient.smoker }}">
            {% else %}
                <input class="form-check form-check-lg" id="smoker" name="smoker" type="checkbox" disabled="">
            {% endif %}
        </div>
        <div class="form-group">
            <label class="form-control-label" for="weight">Krabičkoroky (Krabičky za den * roky jak dlouho
                kouří)</label>

            <input class="form-control form-control-lg" id="weight" name="weight" disabled="" step="1"
                   value="{{ patient.cigarets_per_year if patient.cigarets_per_year else "" }}">

        </div>
        <div class="form-group">
            <label class="form-control-label" for="breath_frequency">Dechová frekvence (počet dechů za minutu)</label>

            <input class="form-control form-control-lg" id="breath_frequency" name="breath_frequency" disabled=""
                   step="1"
                   value="{{ patient.breath_frequency if patient.breath_frequency else "" }}">

            <div id="collapsingAdvancedMenu" class="btn btn-outline-info">Zobrazit pokročilé nastavení</div>
            <div class="advancedMenu" style="display: none">
                <div class="form-group">
                    <label class="form-control-label" for="ptf_fev1">FEV1 (v litrech)</label>

                    <input class="form-control form-control-lg" id="ptf_fev1" name="ptf_fev1" disabled="" step="1"
                           value="{{ patient.ptf_fev1 if patient.ptf_fev1 else "" }}">

                </div>
                <div class="form-group">
                    <label class="form-control-label" for="ptf_fcv">FCV (v litrech)</label>

                    <input class="form-control form-control-lg" id="ptf_fcv" name="ptf_fcv" disabled="" step="1"
                           value="{{ patient.ptf_fcv if patient.ptf_fcv else "" }}">

                </div>
                <div class="form-group">
                    <label class="form-control-label" for="ptf_dlco">DLCO</label>

                    <input class="form-control form-control-lg" id="ptf_dlco" name="ptf_dlco" disabled="" step="1"
                           value="{{ patient.ptf_dlco if patient.ptf_dlco else "" }}">

                </div>
                <div class="form-group">
                    <label class="form-control-label" for="deficit_alfa_1">Deficit alfa-1-antitrypsináza</label>
                    {% if patient.deficit_alfa_1 %}
                        <input class="form-check form-check-lg" id="deficit_alfa_1" name="deficit_alfa_1"
                               type="checkbox"
                               disabled=""
                               checked="{{ patient.deficit_alfa_1 }}">
                    {% else %}
                        <input class="form-check form-check-lg" id="deficit_alfa_1" name="deficit_alfa_1"
                               type="checkbox" disabled="">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group w-45">
                <label class="form-control-label" for="otherDiseases">Jine nemoci</label>

                <select class="form-select form-control-lg h-15em" multiple disabled>
                    {% for d in patient.otherDiseases %}
                        <option value="{{ d.disease_id }}">{{ d.disease_id }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group w-45">
                <label class="form-control-label" for="otherDiseases">Symptomy</label>

                <select class="form-select form-control-lg h-15em" multiple disabled>
                    {% for s in patient.symptoms %}
                        <option value="{{ s.symptom_id }}">{{ s.symptom_id }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <section class="w-75 m-auto pt-5 pb-3">
        <a class="btn btn-outline-info" type="submit"
           href="/sendToPrediction/{{ patient.id }}-{{ patient.nameOfPatient }}">Vytvořit predikci pomocí NS</a>
        <a class="btn btn-outline-info" type="submit"
           href="/sendToPredictionExpertSystem/{{ patient.id }}-{{ patient.nameOfPatient }}">Vytvořit predikci
            pomocí NS
            a experního systému</a>
    </section>

    {% if results != None %}
        {% include "result/resultsForPaginationOnPatient.html" %}
    {% endif %}
{% endblock content %}