{% extends 'layout.html' %}

{% block content %}
    <div class="w-50 m-auto mt-5">
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group m-2 ">
                <legend class="border-bottom mb-4">Predikce pro {{ form.nameOfPatient.data }}</legend>
                <div class="form-group">
                    {{ form.nameOfPatient.label(class="form-control-label") }}
                    {% if form.nameOfPatient.errors %}
                        {{ form.nameOfPatient(class="form-control is-invalid form-control-lg is-invalid") }}
                        <div class="">
                            {% for error in form.nameOfPatient.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nameOfPatient(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.height.label(class="form-control-label") }}
                    {% if form.height.errors %}
                        {{ form.height(class="form-control is-invalid form-control-lg is-invalid") }}
                        <div class="">
                            {% for error in form.height.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.height(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.weight.label(class="form-control-label") }}
                    {% if form.weight.errors %}
                        {{ form.weight(class="form-control is-invalid form-control-lg  is-invalid") }}
                        <div class="">
                            {% for error in form.weight.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.weight(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.age.label(class="form-control-label") }}
                    {% if form.age.errors %}
                        {{ form.age(class="form-control is-invalid form-control-lg  is-invalid") }}
                        <div class="">
                            {% for error in form.age.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.age(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mt-3 mb-3">
                    {{ form.smoker.label(class="form-control-label") }}
                    {% if form.smoker.data == True %}
                        {{ form.smoker(checked=checked ,class="form-check form-check-lg") }}
                    {% else %}
                        {{ form.smoker(class="form-check form-check-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" >
                    {{ form.cigarets_per_year.label(class="form-control-label") }}
                    {% if form.cigarets_per_year.errors %}
                        {{ form.cigarets_per_year(class="form-control is-invalid form-control-lg  is-invalid") }}
                        <div class="">
                            {% for error in form.cigarets_per_year.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.cigarets_per_year(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.breath_frequency.label(class="form-control-label") }}
                    {% if form.breath_frequency.errors %}
                        {{ form.breath_frequency(class="form-control is-invalid form-control-lg  is-invalid") }}
                        <div class="">
                            {% for error in form.breath_frequency.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.breath_frequency(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div id="collapsingAdvancedMenu" class="btn btn-outline-info">Zobrazit pokročilé nastavení</div>
                <div class="advancedMenu" style="display: none">
                    <div class="card card-body">
                        <div class="form-group">
                            {{ form.pulse_oxymetry.label(class="form-control-label") }}
                            {% if form.pulse_oxymetry.errors %}
                                {{ form.pulse_oxymetry(class="form-control is-invalid form-control-lg  is-invalid") }}
                                <div class="">
                                    {% for error in form.pulse_oxymetry.errors %}
                                        <div class="alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.pulse_oxymetry(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.ptf_fev1.label(class="form-control-label") }}
                            {% if form.ptf_fev1.errors %}
                                {{ form.ptf_fev1(class="form-control is-invalid form-control-lg  is-invalid") }}
                                <div class="">
                                    {% for error in form.ptf_fev1.errors %}
                                        <div class="alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.ptf_fev1(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.ptf_fcv.label(class="form-control-label") }}
                            {% if form.ptf_fcv.errors %}
                                {{ form.ptf_fcv(class="form-control is-invalid form-control-lg  is-invalid") }}
                                <div class="">
                                    {% for error in form.ptf_fcv.errors %}
                                        <div class="alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.ptf_fcv(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.ptf_dlco.label(class="form-control-label") }}
                            {% if form.ptf_dlco.errors %}
                                {{ form.ptf_dlco(class="form-control is-invalid form-control-lg  is-invalid") }}
                                <div class="">
                                    {% for error in form.ptf_dlco.errors %}
                                        <div class="alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.ptf_dlco(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group mt-3 mb-3">
                            {{ form.deficit_alfa_1.label(class="form-control-label") }}
                            {% if form.deficit_alfa_1.data == True %}
                                {{ form.deficit_alfa_1(checked=checked ,class="form-check form-check-lg") }}
                            {% else %}
                                {{ form.deficit_alfa_1(class="form-check form-check-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group w-45">
                        {{ form.otherDiseases.label(class="form-control-label") }}
                        {% if form.otherDiseases.errors %}
                            {{ form.otherDiseases(class="form-control is-invalid form-control-lg  is-invalid") }}
                            <div class="">
                                {% for error in form.otherDiseases.errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.otherDiseases(class="form-control form-control-lg h-15em") }}
                        {% endif %}
                    </div>
                    <div class="form-group w-45">
                        {{ form.symptoms.label(class="form-control-label") }}
                        {% if form.symptoms.errors %}
                            {{ form.symptoms(class="form-control is-invalid form-control-lg  is-invalid") }}
                            <div class="">
                                {% for error in form.symptoms.errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.symptoms(class="form-control form-control-lg h-15em") }}
                        {% endif %}
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form.rtg_scan.label(class="input-group-text") }}
                    {{ form.rtg_scan(class="form-control") }}
                    <div>
                        {% if form.rtg_scan.errors %}
                            {% for error in form.rtg_scan.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </fieldset>
            <div class="form-group m-2">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

    </div>


{% endblock %}