{% extends "layout.html" %}

{% block content %}
    <div class="w-50 m-auto mt-5">
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group m-2 ">
                <legend class="border-bottom mb-4">Predikce pro {{ nameOfPatient }}</legend>
                <div class="form-group">
                    {{ form.patient_id(class="hidden") }}
                </div>
                 <div>
                        {% if form.rtg_scan.errors %}
                            {% for error in form.rtg_scan.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                <div class="input-group mb-3">
                    {{ form.rtg_scan.label(class="input-group-text") }}
                    {{ form.rtg_scan(class="form-control") }}
                </div>
            </fieldset>
            <div class="form-group m-2">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

    </div>
{% endblock %}