.icons {
    padding: 0.15em;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.25); /* IE */
    -moz-transform: scale(1.25); /* FF */
    -webkit-transform: scale(1.25); /* Safari and Chrome */
    -o-transform: scale(1.25); /* Opera */
    margin-left: 0.22rem;
}

.hidden {
    visibility: hidden;
}

input[id=password]:disabled {
}

input[name=patient_id]:disabled {
}

.own {
    background: grey !important;
    position: absolute !important;
    width: 75%;
    height: 100%;
    z-index: 20 !important;
    opacity: 0.5 !important;
    display: none;
    border-radius: 10px;
}

footer {
    height: 5em;
    width: 100%;
    background: #34333F;
    color: wheat;
    text-align: center;
}

.height100{
    min-height: 100vh !important;
}

.w-45{
    width: 50% !important;
}

.h-15em{
    height: 15em;
}

ul li.nav-item {
    width: 7.5em !important;
}

.logout{
    padding-right: 1em;
    font-size: large;
}

pre{
    font-family: var(--bs-font-sans-serif) !important;
    font-size: 1rem !important;
}
#collapsingAdvancedMenu{
    padding: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
}