{% extends 'layout.html' %}

{% block content %}
    <div class="w-50 m-auto mt-5">
        <form method="post">
            {{ form.hidden_tag() }}
            <fieldset class="form-group m-2 ">
                <legend class="border-bottom mb-4">Nový uživatel</legend>
                <div class="form-group">
                    {{ form.user_name.label(class="form-control-label") }}
                    {% if form.user_name.errors %}
                        {{ form.user_name(class="form-control is-invalid form-control-lg is-invalid") }}
                        <div class="">
                            {% for error in form.user_name.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.user_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid form-control-lg is-invalid") }}
                        <div class="">
                            {% for error in form.password.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg", readonly="readonly") }}
                    {% endif %}
                    <div class="text-danger">Heslo si prosím opište a zašlete danému uživateli</div>
                </div>
            </fieldset>
            <div class="form-group m-2">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

    </div>


{% endblock %}