<!DOCTYPE html>
<html lang="cs">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../static/custom.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <script type="application/javascript" src="../static/ajax.js"></script>
    <title>{{ title }}</title>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid nav-tabs bg-light">
        <a class="navbar-brand" href="/">Emphysema</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if patients else '' }} "
                           href="{{ url_for('patientsBp.patients') }}">Pacienti

                            <i class="bi bi-people-fill"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if results else '' }}" href="{{ url_for('resultsBp.results') }}">Výsledky
                            <i class="bi bi-bar-chart-fill"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if diseases else '' }}" aria-current="page"
                           href="{{ url_for('diseasesBp.diseases') }}">Nemoci
                            <i class="bi bi-file-medical-fill"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if symptoms else '' }}" aria-current="page"
                           href="{{ url_for('symptomBp.symptoms') }}">Symptomy
                            <i class="bi bi-file-medical-fill"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                            Nastavení
                            <i class="bi bi-sliders"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ url_for('patientsBp.registerNewPatient') }}">Registrace
                                nového pacienta
                                <i class="bi bi-person-plus-fill"></i>
                            </a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="{{ url_for('usersBp.saveUser') }}">Vytvoření uživtele
                                <i class="bi bi-person-plus-fill"></i>
                            </a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="{{ url_for('diseasesBp.create_disease') }}">Vytvoření
                                nemoci
                                <i class="bi bi-file-earmark-plus-fill"></i>
                            </a></li>
                            {#                            <li><a class="dropdown-item" href="/createSymptom">Vytvoření symptomu#}
                            {#                                <i class="bi bi-file-earmark-plus-fill"></i>#}
                            {#                            </a></li>#}
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="{{ url_for('usersBp.logout') }}">Odhlášení
                                <i class="bi bi-box-arrow-right"></i>
                            </a></li>
                        </ul>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
<div class="height100">
    {% block content %}{% endblock %}
</div>
<footer>
    Emphysema project UHK 2020/2021
</footer>
</body>
</html>