{% extends 'layout.html' %}
{% block content %}
<div class="w-50 m-auto mt-5">
    <form method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group m-2 ">
            <legend class="border-bottom mb-4">Přihlášení</legend>
            <div class="form-group">
                {{ form.hashed_login.label(class="form-control-label") }}
                {% if form.hashed_login.errors %}
                    {{ form.hashed_login(class="form-control is-invalid form-control-lg is-invalid") }}
                    <div class="">
                        {% for error in form.hashed_login.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.hashed_login(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.remember.label(class="form-control-label") }}
                {% if form.remember.errors %}
                    {{ form.remember(class="form-control is-invalid form-control-lg is-invalid") }}
                    <div class="">
                        {% for error in form.remember.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.remember(class="") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group m-2">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock %}