{% extends "layout.html" %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <section class="w-75 m-auto pt-3">
    <a class="btn btn-outline-info" type="submit" href="{{ url_for('diseasesBp.create_disease') }}">Vytvoření nemoci
        <i class="bi bi-file-earmark-plus-fill"></i></a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Jméno nemoci</th>
                <th scope="col">Jména symptomů nemoci</th>
                <th scope="col">Akce</th>
            </tr>
            </thead>
            <tbody>
            {% for disease in diseases.items %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <th scope="row" id="id">{{ disease.id }}</th>
                    <td>{{ disease.name_of_disease }}</td>
                    <td>
                        {% for symptom in disease.disease_to_symptom %}
                            {% if loop.index == 1 %}
                                {{ symptom.symptom_id }}
                            {% else %}
                                , {{ symptom.symptom_id }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="">
                        <a href="/createSymptom/{{ disease.id }}-{{ disease.name_of_disease }}"
                           class="">Přidat Symptom</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </section>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if diseases.prev_num %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('diseasesBp.diseases',page=diseases.prev_num) }}"
                       tabindex="-1">Previous</a>
                </li>
            {% endif %}

            {% for page_number in diseases.iter_pages() %}
                {% if page_number and diseases.pages != 1 %}
                    {% if diseases.page == page_number %}
                        <li class="page-item active">
                            <a class="page-link"
                               href="{{ url_for('diseasesBp.diseases',page=page_number) }}">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ url_for('diseasesBp.diseases',page=page_number) }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if diseases.next_num %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('diseasesBp.diseases',page=diseases.next_num) }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
