{% extends 'layout.html' %}

{% block content %}
    <div class="w-50 m-auto mt-5">
        <form method="post">
            {{ form.hidden_tag() }}
            <fieldset class="form-group m-2 ">
                <legend class="border-bottom mb-4">Nový symptom</legend>
                <div class="form-group">
                    {{ form.name_of_symptom.label(class="form-control-label") }}
                    {% if form.name_of_symptom.errors %}
                        {{ form.name_of_symptom(class="form-control is-invalid form-control-lg is-invalid") }}
                        <div class="">
                            {% for error in form.name_of_symptom.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name_of_symptom(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.symptom_to_disease.label(class="form-control-label") }}
                    {% if form.symptom_to_disease.errors %}
                        {{ form.symptom_to_disease(class="form-control is-invalid form-control-lg is-invalid") }}
                        <div class="">
                            {% for error in form.symptom_to_disease.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.symptom_to_disease(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group m-2">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

    </div>


{% endblock %}