{% extends "layout.html" %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <section class="w-75 m-auto pt-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Jméno symptomu</th>
            </tr>
            </thead>
            <tbody>
            {% for symptom in symptoms.items %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <th scope="row" id="id">{{ symptom.id }}</th>
                    <td>{{ symptom.name_of_symptom }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </section>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if symptoms.prev_num %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('symptomsBp.symptoms',page=symptoms.prev_num) }}"
                       tabindex="-1">Previous</a>
                </li>
            {% endif %}

            {% for page_number in symptoms.iter_pages() %}
                {% if page_number and symptoms.pages != 1 %}
                    {% if symptoms.page == page_number %}
                        <li class="page-item active">
                            <a class="page-link"
                               href="{{ url_for('symptomsBp.symptoms',page=page_number) }}">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ url_for('symptomsBp.symptoms',page=page_number) }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if symptoms.next_num %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('symptomsBp.symptoms',page=symptoms.next_num) }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
